{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration page</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css' %}">

	<script type="text/javascript" src="{% static 'js/sample.js' %}">	
	</script>

	<style type="text/css">
		body{
			background-image: url("{% static 'images/logo.jpeg' %}");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>
<body>
	<h2>Registration Form</h2>
	<form>
		<input type="text" name="uname" placeholder="Enter Your username"><br><br>
		<input type="number" name="mbl" placeholder="Enter your mobil number"><br><br>
		<input type="email" name="em" placeholder="Enter your Email"><br><br>
		<input type="password" name="pws" placeholder="Enter your password"><br><br>
		<input type="password" name="cpws" placeholder="Enter your confirm password"><br><br>
		<button>register</button>

	</form>
	<img src="{% static 'images/logo1.jpeg' %}">

</body>
</html>