<!DOCTYPE html>
<html>
<head>
	<title>internal page</title>
	<style type="text/css">
		h1{
			color: white;
			text-align: center;
			font-size: 60px;
			margin-right: 200px;
			margin-left: 200px;
			margin-top: 50px;
			padding: 30px;
			border-radius: 30px;
			background: black;
		}
		h2{
			color: pink;
			text-align: center;
			font-size: 60px;
			margin-right: 200px;
			margin-left: 200px;
			margin-top: 50px;
			padding: 30px;
			border-radius: 30px;
			background: aqua;
		}
	</style>
</head>
<body>
	<h1>sathish virat</h1>
	<h2>This is imternal in CSS</h2>

</body>
</html>